<!DOCTYPE html>
<html lang="en">

<head>
    <title>Karigar</title>
    <%- include('partials/head'); %>
</head>

<body>

    <%- include('partials/nav_admin'); %>
        <div class="container main p-3 mt-5 mb-5 primary">
            <div class="row mt-3">
                <div class="col-12">
                    <h1 class="text-center text-dark" id="page_heading">Karigar</h1>
                    <h2 class="text-center text-dark" id="page_heading">Admin Panel</h2>
                </div>
            </div>

            <div class="row mt-5 justify-content-left" id="categories-container">
            </div>
        </div>
        <%- include('partials/footer'); %>
</body>

</html>